body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tags {
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags button {
    margin: 10px;
    width: 100px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}